<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceConnect Monitor</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="topbar">
        <div>
            <strong>SpaceConnect Monitor</strong>
            <span>Global Solution - C# Software Development</span>
        </div>
        <a href="/swagger" target="_blank">Swagger/API</a>
    </header>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>
